@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */
:root {
    --background: #f5f4ff;
    --border-color: #d1d1e9;

    --toogle-color: #e69335;
    --toogle-bg: #2c2c2c;

    --headline: #111113;

    --paragraph: #2a2a2a;

    --card-color: #eceaff;
}

.dark {
    /* --background: #111113; */
    --background: #16161a;
    --primary: #8470ff;
    --border-color: #010101;

    --toogle-color: #e69335;
    --toogle-bg: #2c2c2c;

    --headline: #fffffe;

    --paragraph: #94a1b2;

    --seconday: #eceaff; /* card color*/

    --card-color: #242629;
}

/* body {
    background-color: var(--background);
} */
